# SBT target directories
target/
project/project/
project/target/

# Metals & Bloop build files
.metals/
.bloop/
.bsp/

# VS Code config
.vscode/

# IntelliJ Idea config
.idea/
*.iml

# OS files
Thumbs.db
.DS_Store
